@model AppStaffEmployee.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Произошла ошибка</h1>
<h2 class="text-danger">К сожалению, произошла ошибка при обработке вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>Пожалуйста, попробуйте снова позже или обратитесь в службу поддержки.</p>